@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}
body{
  background: #0d3b72;
  width: 100%;
  height: 100%;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.principal{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 25px;
  margin: 25px 0;
}
.principal h1{
  color: #fffaf2;
  padding: 1.5rem;
}
.input-block{
  display: flex;align-items: center;
  padding: 1.5rem;
}
.input-block label {
  color: #1e2029;
  text-transform: uppercase;
  font-size: 1em;
}
.opcoes{
  border-radius: 10px;
  background: #fffaf2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 600px;
}
.resultado input{
  color: #1e2029;
  background: #fffaf2;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 25rem;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.input-block button{
  border: none;
  outline: none;
  background: #007e9a;
  color: #fffaf2;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.2rem;
}
.opcoes input[type=checkbox]{
  width: 25px;
  height: 25px;
  margin-left: 1.1rem;
}
.opcoes input[type=number]{
  margin-left: 1.1rem;
  font-size: 1.2rem; 
  width: 5rem;
  text-align: center; 
}
.opcoes p{
  margin-left: 1.1rem;  
}

@media (max-width: 640px) {
  .resultado input {
    width: 20rem;
  }
}